{% load static %}
{% load i18n %}

<div id="top-bar">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-auto">
                <p class="mb-0 py-2 text-center text-md-left">ishakdolek54@gmail.com</p>
            </div>

            <div class="col-12 col-md-auto">

                <!-- Top Links
						============================================= -->
                <div class="top-links on-click">
                    <ul class="top-links-container">                      
                    </ul>
                </div><!-- .top-links end -->

            </div>
        </div>

    </div>
</div>